@import './common.scss';
// TOGGLE

.item {
  @extend %box;
  &__avatar {
    width: 40px;
    border-radius: 50%;
  }
  &__heading {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__text {
    margin: 0;
    font-size: 0.7rem;
    font-weight: normal;
  }
}
