// $bg-primary: #0a1929;
// $bg-primary-border: 1px solid #19283a;
// $bg-secondary: #001d3c;
// $bg-secondary-border: 1px solid #122e4c;

// $heading: white;
// $text-primary: #b1bac1;

// $button-primary: #3399fe;
$bg-primary: #36393e;
$bg-primary-border: 1px solid rgb(45, 45, 45);
$bg-secondary: #2d3035;
$bg-secondary-border: 1px solid #353535;

$heading: white;
$text-primary: #b1bac1;

$icon-primary: #3f51b5;

$button-primary: white;
$button-primary-hover: #3399fe;

$yellow: #ffb304;
$green: #1fd19f;
$red: #fd6c6b;
$purple: #572cac;
